main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.round-card {
    border-radius: 5px;
}

.rating span {
    margin: 0.1rem;
}

.cart-center {
    display: flex;
    align-items: center;
}

.hyperlink {
    text-decoration: none;
    /* font-weight: bold; */
}

.hyperlink:hover {
    opacity: 0.8;
}
