main {
    min-height: 80vh;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.round-card {
    border-radius: 5px;
}

.rating span {
    margin: 0.1rem;
}

.cart-center {
    display: flex;
    align-items: center;
}

.hyperlink {
    text-decoration: none;
    /* font-weight: bold; */
}

.hyperlink:hover {
    opacity: 0.8;
}

/* carousel */
.carousel-inner {
    background-color: rgba(33, 33, 33, 0.95);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}
.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 25%;
    margin-left: auto;
    margin-right: auto;
}
.carousel a {
    margin: 0 auto;
}
@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}
